 <div class="container">
         <div class="row">
             <div class="col-lg-3 col-md-3">
                 <div class="header__logo">
                     <a routerLink="./index.html"><img src="assets/img/logo.png" alt=""></a>
                     
                 </div>
             </div>
             <div class="col-lg-6 col-md-6">
                 <nav class="header__menu mobile-menu">
                     <ul>
                         <li><a routerLink="/">Home</a></li>
                         <li><a routerLink="/shop">Shop</a></li>
                         <li><a routerLink="/category">Categories</a>
                             <ul class="dropdown">
                                 <li *ngFor="let x of allCate"><a routerLink="#">{{ x.name }}</a></li>
                                 
                             </ul>
                         </li>
                         <li><a routerLink="/blog">Blog</a></li>
                         <li><a routerLink="/contact">Contacts</a></li>
                     </ul>
                 </nav>
             </div>
             <div class="col-lg-3 col-md-3">
                 <div class="header__nav__option">
                     <a href="#" class="search-switch"><img src="assets/img/icon/search.png" alt=""></a>
                     <a href="#"><img src="assets/img/icon/heart.png" alt=""></a>
                     <a href="#"><img src="assets/img/icon/cart.png" alt=""> <span>0</span></a>
                     <div class="price">$0.00</div>
                 </div>
             </div>
         </div>
         <div class="canvas__open"><i class="fa fa-bars"></i></div>
     </div>
