<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="_auth.isAdminLoggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboard">Dashboard <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/admin/categories">Add</a>
            <a class="dropdown-item" routerLink="/admin/categories/list">List</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Product
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/admin/product">Add</a>
            <a class="dropdown-item" routerLink="/admin/product/view-products">List</a>
            
          </div>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/admin/users/view-users">View Users</a>
              <!-- <a class="dropdown-item" routerLink="/admin/categories/list">List</a> -->
              
            </div>
          </li>
        
         <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="_auth.logOut()">Logout</a>
        </li>
      </ul>
      
    </div>
  </nav>
